*{
  box-sizing: border-box;  
 }
body{
  margin: 0;
   background-color: #f8f9fa;
 
}

#boxes{
    flex-wrap: nowrap;
    display: flex;
   justify-content: space-between;
    max-width: 90%;
    margin: 0 15%;
}
.big-box{
  width: 100%;
  display: flex;
 
}
.normal-box{
    
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

 header{
     text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5;
    margin: 45px auto;
    max-width: 75%;
    text-align: center;
    
}

.h2{
    font-weight: 500;
}

p{
    font-size: 20px;
}
#small-box{
       margin-left: 60px;
    max-width: 73%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5;
}


.first{
    max-width: 350px;
    flex-wrap: wrap;
   display: flex;

}
.container-1{
    max-width: 650px;
}
.container-1 .first .cont-1{
    display: flex;
    justify-content: space-between;
  
  
   max-width: 500px;
}
.h1{
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 25px;
}

.c-2{
    margin:0 25px ;
    
}
.i-1{width: 290px;
    height: 35px;
border: 1px solid grey;
border-radius: 4px
}
.i-1-2{
    width: 290px;
    height: 35px;
    border: 1px solid grey;
    border-radius: 4px;
    
}

.co{
    display: flex;
    border: -2px solid grey;
    
    justify-content: space-between;
    margin: 5px 0;
}
.co-1{
    border: 1px solid grey;
    background-color: #f8f9fa;
   border-bottom-left-radius: 4px;
    width: 35px;
    border-top-left-radius: 4px;
    height: 35px;
    text-align: center;
    font-size: 20px;
   
  
}
    .co-2{
        width: 574px;
        height: 36px;
    }
.con{
    margin: 5px 0;
}
    .con-1{
        width: 609px;
        height: 35px;
        border: 1px solid grey;
        border-radius: 4px;
    }
    .cont-4{
margin: 5px 0;
    }
    .connt-2{
        width: 609px;
        height: 35px;
        border: 1px solid grey;
        border-radius: 4px;
    }

    .cont-5{
        margin: 5px 0;
    }
    .conte{
        width: 609px;
        height: 35px;
        border: 1px solid grey;
        border-radius: 4px;
    }

  .cont-6{
      margin: 5px 0;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      max-width: 609PX;
  }  
.conte-1{
    width: 235px;
    height: 35px;
    border: 1px solid grey;
    border-radius: 4px;
    
}
.conte-2{
    width: 187px;
    height: 35px;
    border: 1px solid grey;
    border-radius: 4px;
}
.conte-3{
    width: 130px;
    height: 35px;
    border: 1px solid grey;
    border-radius: 4px;
}

.container-2 hr{
   color: grey;
   margin: 25px 0;
}
h2{
    margin: 7px 0;
}
.but{
    margin: 5px 0;
}
.cont-7{
    display: flex;
    justify-content: space-between;
}
.conta-1{
    width: 300px;
    height: 35px;
border: 1px solid grey;
border-radius: 4px
}
.conta-2{
    width: 300px;
    height: 35px;
border: 1px solid grey;
border-radius: 4px
}
.contai{
    margin: 0 30px;
}

.cont-7{
    margin: 15px 0;
}
.p-2{
    margin: -10px 0;
    color: grey;
   font-size: 12px;
}
.cont-8{
    display: flex;
    justify-content: space-between;
    max-width: 250px;
    margin: 20px 0;
}

.contain-1{
    margin: 5px 0;
    width: 135px;
    height: 35px;
    border: 1px solid grey;
    border-radius: 4px;
}
.contain-2{
    margin: 5px 0;
    width: 135px;
    height: 35px;
    border: 1px solid grey;
    border-radius: 4px;
}
.containe{
    margin: 0 30px;
}

.button-1{
    background-color: #007bff;
    
    box-shadow: rgb(56, 173, 209);
    width: 635px;
    height: 45px;
    border-radius: 5px #007bff;
    color: white;
    font-size: 20px;
}

.big-bix footer{
    max-width: 800px;
flex-direction: column;
   
    text-align: center;
   display: flex;
    
}
.footer-1{
 
  padding-left: 370px;
    font-size: 16px;
    color: grey;

}
.links{
   padding-left: 390px;  
   margin: -10px 0;
}
.link-2{
    margin: -80px 0;
   text-align: center;
    margin: 0 9px;
    color: #007bff;
   
    font-size: 16px;
    text-decoration: none;
   
}
.link-1{
   text-align: center;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}
.footer-parent{
    margin: 100px 0;
}



.largest-box{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    display: flex;
    flex-direction: column;
   width: 310px;
   border-radius: 5px;
  
   padding-top: 30px;
   
}
.span{
    display: flex;
 justify-content: space-between;
}
.span-left{
    font-size: 25px;
    color:  #6c757d;
    font-weight: 500;
}
.span-right{
    font-size: 20px;
    color: white;
    font-weight: bold;
   text-align: center;
   width: 35px;
   height: 30px;
   border-radius: 13px;
   background-color: #6c757d;
}

.larger-boxes{
   border-radius: 3px;
    border: 1px solid #6c757d;
   width:310px;
  
    display: flex;
    flex-direction: column;
    background-color: white;
}


.larger-box{
    border: 1px solid  #6c757d;
   margin-left: -40px;
 list-style-type: none;
   
}
.smaller-box{
  display: flex;
    justify-content: space-between;
    align-items: baseline;
    line-height: 5px;
}


h4{margin-left: 10px;
    
    font-weight: 500;
    font-size: 40x;
}
.p-3{
   margin-left: 10px;
    color: #6c757d;
    font-size: 12px;
}
.number-3{
    margin-right: 10px;
  color: #6c757d;
    font-size: 17px;
}


.larger-box-2{
    border: 1px solid  #b0b9c2;
   margin-left: -40px;
 list-style-type: none;
 background-color: #f8f9fa;
 
 color: #28a745;
}

.p-4{
    margin-left: 10px;
    color: #28a745;
    font-size: 12px;
}
.number-4{
    margin-right: 10px;
    color: #28a745;
      font-size: 17px;
}

.number-5{
    margin-right: 10px;
   font-weight: bold;
      font-size: 17px;
}
.total{
    font-weight: 400;
}
.larger-boxes-3{
    border-radius: 3px;
    border: 1px solid #6c757d;
   width:310px;
    height: 60px;
    
    background-color: white;
}
.larger-box-3{
   display: flex;
   justify-content: space-between;

  list-style-type: none;
  

}
.input-2{
    margin-left: -30px;
    border: 1px solid #7c9ab4;
    margin-top: 8.5px;
    text-align: center;
  font-size: 15px;
  height: 40px;
  width: 250px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.button-3{
    background-color: #6c757d;
    height: 40px;
    width: 95px;
    margin-top:8.5px ;
    margin-right: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  font-size: 14px;
}